@model PeakOverviewServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Trail Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Elevation: <b>@Model.Elevation</b> m</h6>
            <h6>Mountain: <b>@Model.Mountain</b></h6>
            <br />
            <a asp-area="" asp-controller="Peak" asp-action="Details" asp-route-id="@Model.PeakId"
               asp-route-information="@Model.GetPeakDetails()" class="btn btn-success">Details</a>
        </div>
    </div>
</div>